<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card default-padding">
          <div class="card-header">
            <div class="row">
              <h3 class="card-title fw-bold col-md-6">Notification List</h3>
              <div class="col-md-6 d-flex justify-content-end">

                <button *ngIf="([allPermissions.Notification_Edit] | isValidPermission)" title="Mark as unread"
                  class="btn sts-btn-primary btn-sm ml-1 dynamic-button dynamic-button--small" type="button"
                  [disabled]="!isUpdateStateAvailable" (click)="onSetMultipleNotificationsState(false)">
                  <i class="fa fa-inbox" aria-hidden="true"></i>
                </button>
        
                <button *ngIf="([allPermissions.Notification_Edit] | isValidPermission)" title="Mark as read"
                  class="btn sts-btn-primary btn-sm ml-1 dynamic-button dynamic-button--small"
                  [disabled]="!isUpdateStateAvailable" (click)="onSetMultipleNotificationsState(true)" type="button">
                  <i class="fa fa-envelope-open" aria-hidden="true"></i>
                </button>
        
              </div>
            </div>
          </div>

          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <app-list-view (deleteEvent)="onDeleteClick($event)" (sortEvent)="onSortChange($event)"
              (pageChangeEvent)="onPageChange($event)" (searchTextEvent)="onSearchChange($event)"
              (markStatusEvent)="onMarkStatusClick($event)" (clearEvent)="onClear()"
              (selectedItemEvent)="onSelectItem($event)" [clearSelectionFlag]="clearSelectionFlag"
              (filterEvent)="onFilterChange($event)" [listViewData]="gridData"
              [allowEdit]="([allPermissions.Notification_Edit] | isValidPermission)"
              [selectionMode]="selectionMode"></app-list-view>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>